# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# TYPO3 & Composer
/vendor/
/public/
/.Build/
composer.lock

# Node / NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
