<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<!-- Bandeau d'alerte citoyenne / Urgence (RGAA role="region" & aria-live="polite") -->
<f:if condition="{emergencyAlertContent}">
    <aside id="commune-alert-banner" class="commune-emergency-alert-container" role="region" aria-label="Bandeau d'alerte citoyenne et informations prioritaires" aria-live="polite">
        <f:format.raw>{emergencyAlertContent}</f:format.raw>
    </aside>
</f:if>
</html>
