<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<!-- Menu principal de navigation (Landmark role="navigation") -->
<nav id="main-navigation" class="navbar navbar-expand-lg navbar-dark bg-primary-commune py-0" role="navigation" aria-label="{f:translate(key: 'nav.main', extensionName: 'site_commune_rgaa')}">
    <div class="container">
        <!-- Bouton mobile accessible -->
        <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainContent" aria-controls="navbarMainContent" aria-expanded="false" aria-label="Afficher ou masquer le menu de navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="ms-2 d-inline d-lg-none">Menu</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMainContent">
            <f:format.raw>{mainNavigation}</f:format.raw>
        </div>
    </div>
</nav>
</html>
